<hr>
<footer class="p-strip is-shallow">
  <div class="row">
    <div class="col-12">
      <ul class="p-inline-list--middot">
        <li class="p-inline-list__item">
          2019 Karl Designs
        </li>
        <li class="p-inline-list__item">
          <a href="https://github.com/kwm14/kwm14.github.io/issues/new">Report a bug with this site</a>
        </li>
        <li class="p-inline-list__item">
          <a href="mailto:karlwaghorn.moyce@gmail.com">Design enquiries</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
